@import "../../css/core";
@import "../../css/reset";

.join-container {
  @include flex(center, center);
  height: calc(100vh - 60px);
  background-color: #eff7ff;
}

.join-box {
  background: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.join-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333;
}

.join-input {
  @include borderSet;
  width: 80%;
  padding: 1.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  &:focus {
    border-color: #000000;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  }
}
.inputText {
  text-align: left;
  padding-left: 2rem;
  font-size: 15px;
}
.join-button {
  width: 90%;
  padding: 0.75rem;
  font-size: 1.5rem;
  @include buttonSet;
  margin-top: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: background-color 0.3s;
  &.inactive {
    background-color: #ccc;
    cursor: default;
    font-size: 1.5rem;
  }
  &.active {
    background-color: #1e90ff;
  }
}

.error {
    color: red;
    font-size: 10px;
    text-align: left;
    padding-left: 2rem;
  }

