@import "../../css/core";

.sidebar {
  width: 300px;
  height: 75%;
  position: fixed;
  top: 15%;
  left: 1%;
  bottom: 0;
  background-color: #fff;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 20;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      transition: opacity 0.3s ease;
    }

    .dashboard-button {
      background: none;
      border: 1px solid #ccc;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
  .contents-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .place-category {
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 5px;
    color: white;
    display: inline-block;

    &.category-red {
      background-color: #eb8989;
    }
    &.category-blue {
      background-color: #6987e9;
    }
    &.category-yellow {
      background-color: #d39d42;
    }
    &.category-green {
      background-color: #3aaa6a;
    }
  }

  .date-button {
    width: 100%;
    padding: 12px;
    background-color: #60a5fa;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
}


