@import "../../css/core";
@import "../../css/reset";
.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 0.5px solid #e0e0e0;
  box-sizing: border-box;
}
.logo-box {
  @include flex(center, center);
  object-fit: cover;
  height: 100%;
  margin-bottom: 3rem;
  scale: 0.7;
  img {
    width: 250px;
    height: 48px;
  }
}
.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  gap: 40px;
  padding: 0 40px;
  position: relative;
  z-index: 100;
  .nav-menu {
    display: flex;
    gap: 30px;

    a {
      text-decoration: none;
      color: #333;
    }
  }
}
