.button-group {
    display: flex;
    justify-content: space-between;

    .prev-button,
    .next-button,
    .submit-button {
      flex: 1;
      margin: 0 5px;
      padding: 12px;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .prev-button {
      background-color: #e4e4e4;
      color: #333;

      &:hover {
        background-color: #d6d6d6;
      }
    }

    .next-button {
      background-color: #60a5fa;
      color: white;

      &:hover {
        background-color: #3b82f6;
      }
    }

    .submit-button {
      background-color: #34d399; // 초록색 느낌
      color: white;

      &:hover {
        background-color: #10b981;
      }
    }
  }