//////// 믹스인 ////////
@mixin flex($x: flex-start, $y: flex-end) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    @content;
  }
  
  @mixin borderSet {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  @mixin buttonSet {
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #7CC4FF;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }


/////// 컬러 ///////
$color-main : #7CC4FF;
$color-sub : #EFF7FF;